extends base
include mixins/video

block content 
	form(method=GET)
		input(placeholder="Input the title" type="text" name="keyword")
		input(value="Search" type="submit")
	
	each video in videos 
		+video(video)