extends base

block content 
	form(method="POST")
		input(name="title", placeholder="Title", required, type="text")
		input(name="rating",placeholder="rating")
		input(name="comments", placeholder="comments")
		input(value="Upload Video", type="submit")